.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgba(117, 19, 202, 0.95);
    position: fixed;
    top: 0%;
    z-index: 10;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

ul {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 !important;
    padding: 10px;
}

li {
    font-weight: 700;
    color: white;
}

a:hover {
    color: purple;
    background-color: white;
    padding: 0 3px;
}