<!-- <p>productdetail works!</p> -->
<div class="product">
    <div class="product-img">
        {{product.image}}
    </div>
    <div class="product-info">
        <h3>{{product.title}}</h3>
        <h4>{{product.price}}</h4>
        <p>{{product.description}}</p>
        <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button type="button" name="prod-btn" id="prod-btn" class="btn btn-primary">Add to Cart</button>
    </div>
</div>
