.product {
    display: grid;
    grid-template-columns: 10% 30% 50% 10%;
    grid-template-rows: 15% fit-content(70%) 15%;
    margin: 5% 5%;
}

.product-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 10px auto;
}

.product-info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

select {
    word-wrap: normal;
    padding: 5px;
    margin-right: 25px;
    width: 100px;
}

img {
    max-width: 100px;
    max-height: 180px;
}