.cart-page {
    display: flex;
}

.cart {
    margin: 5% 0;
    flex-grow: 4;
    max-width: 72%;
}

.cart-item {
    display: grid;
    grid-template-columns: 10% 10% 55% 10%;
    margin: 1rem 10px;
    padding-bottom: 5px;
}

.prod-total {
    flex-grow: 2;
    margin-left: 75%;
    margin-top: 100px;
    font-weight: 700;
    font-size: 1.5rem;
    position: fixed;
}

#title {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#price {
    font-size: 0.9rem;
}

img {
    width: 80px;
    height: 150px;
    border: none;
    border-radius: 8px;
}

.prod-img {
    grid-column-start: 2;
    grid-column-end: 3;
}

.prod-card {
    margin: 0 15px;
}

.qty {
    max-width: 45%;
}

.customer-form {
    position: fixed;
    top: 35%;
    left: 75%;
    display: flex;
    flex-direction: column;
    
}

.bag-empty {
    position: fixed;
    top: 35%;
    left: 75%;
    right: 5%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: rgb(61, 11, 137);
}

form {
    margin-right: 15px;
}

input {
    padding: 3px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.submit[disabled] {
    background-color: rgba(99, 130, 223, 0.3);
}

.submit {
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    width: 50%;
    padding: 10px 0;
    color: white;
    background-color: rgba(7, 50, 177, 1);
}

#bill {
    border: none;
}

.err-name {
    color: red;
    background-color: rgb(255, 194, 204,0.5);
    padding: 4px;
    position: fixed;
    top: 41.5%;
    right: 5%;
}
.err-addr {
    color: red;
    background-color: rgb(255, 194, 204,0.5);
    padding: 4px;
    position: fixed;
    top: 48%;
    right: 5%;
}
.err-cc {
    color: red;
    background-color: rgb(255, 194, 204,0.5);
    padding: 4px;
    position: fixed;
    top: 54%;
    right: 5%;
}