.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}

h4 {
    color: darkcyan;
}

.product-img {
    max-width: 100px;
    max-height: 180px;
}

.product-info {
    padding: 10px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 1.1rem !important;
}

.price {
    font-size: 1.1rem;
}

select {
    width: 5rem;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    color: white;
    background-color: rgba(8, 123, 255);
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
}

.img-wrapper {
    display: flex;
    height: 10rem;
    flex-direction: column;
    align-items: center;
    margin: 1.8rem;
}