<div class="product">
    <div class="img-wrapper">
        <img class="product-img" src="{{product.image}}" alt="{{product.title}} image">
    </div>
    <div class="product-info">
        <h3><a routerLink="/product-detail/{{product.id}}">{{product.title}}</a></h3>
        <h4>$ {{product.price}}</h4>
        <select (change)="onChange($event)">
            <option *ngFor="let q of qty" value="{{q}}">{{q}}</option>
        </select>
        <button type="button" name="prod-btn" id="prod-btn" class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
    </div>
</div>